.navbar-wrapper {
  display: flex;
  justify-content: center;
}
.navbar-container {
  width: 90%;
  display: flex;
  /* background: red; */
  justify-content: space-between;
  align-items: center;
}

.navbar-container .logo {
  width: 10%;
  height: auto;
}

.login-button,
.signup-button {
  margin: 8px;
  padding: 0.3rem 1.5rem !important;
  font-weight: 500 !important;
}

.login-button > span,
.signup-button > span {
  font-size: 0.8rem;
}
.signup-button {
  background: linear-gradient(45deg, #8878f9, #9b72fa) !important;
  border: none !important;
  color: white !important;
}

.login-button {
  border: 1px solid #9979fd !important;
  color: #9979fd !important;
}
